.container{
    width: 100%;
    height: 100%;
    padding: 4% 5%;
    box-sizing: border-box;
}
.title{
    display: flex;
    justify-content: center;
    color: white;
}
.feedBlock{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.catCardContainer{
    position: relative;
    width: 320px;
    height: 480px;
    background: #1698d9;
    border-radius: 10px;
    padding: 4px;
    -webkit-clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    box-sizing: border-box;
}
.catCardContainerHover{
    position: relative;
    width: 320px;
    height: 480px;
    background: #d91667;
    border-radius: 10px;
    padding: 4px;
    -webkit-clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    box-sizing: border-box;
}
.catCardContainerDisable{
    position: relative;
    width: 320px;
    height: 480px;
    background: #6e6e6e;
    border-radius: 10px;
    padding: 4px;
    -webkit-clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    box-sizing: border-box;
}
.catCardDisable{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background: #f2f2f2;
    height: 99.5%;
    width: 99.5%;
    padding: 10px 10px 10px 45px;
    border-radius: 6px;
    -webkit-clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    box-sizing: border-box;
    border-radius: 0 15px 15px 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -20px 130%;
    opacity: .8;
}
.catCard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background: #f2f2f2;
    height: 99.5%;
    width: 99.5%;
    padding: 10px 10px 10px 45px;
    border-radius: 6px;
    -webkit-clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
    box-sizing: border-box;
    border-radius: 0 15px 15px 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -20px 130%;
}
.cardInfo{
    display: flex;
    flex-flow: column nowrap;

}
.cardInfo span{
    font-size: 16px;
    color: #666666;
}
.cardTitle{
    font-size: 48px;
    color: #000;
    margin: 0;
}
.withItem{
    font-size: 24px;
    color: #000;
}
.cardGift{
    font-size: 14px;
    color: #666666;
}

.sizeBlock{
display: flex;
    justify-content: flex-end;
}
.cardSizeDisable{
    background:#6e6e6e ;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.cardSize{
background:#1698d9 ;
    border-radius: 100px;
    height: 80px;
    width: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.valueSize{
    font-size: 42px;
    line-height: 20px;
    margin:10px auto;
    color: white;
}
.size{
    font-size: 21px;
    line-height: 22px;
    margin:0 auto;
    color: white;
}
.lowSection{
    color:white;
}
/*.catCard:before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 1100%;*/
/*    height: 1100%;*/
/*    top: 150%;*/
/*    left: -810%;*/
/*    background: rgba(255,255,255,1);*/
/*    transform-origin: 54% 0;*/
/*    transform: rotate(316deg);*/
/*    border: 4px solid red;*/

/*}*/
